h1 {
  background-color: rgb(255, 0, 247);
  color: rgb(255, 255, 255);
  text-align: center;
}

td {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

#skore {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: bold;
}

.cervena {
  color: red;
}

.modra {
  color: blue;
}
